@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Kumbh sans';

}

p {
    font-size: 16px;
    /* border: 5px solid red; */
}

.logo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.lbox1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}

.lbox1 img {
    width: 60px;
    height: 60px;

}

.lbox2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    /* padding-right: 50px; */
    font-size: 17px;
}

.lbox2 a, .dropdown a {
    text-decoration: none;
}

.guid-btn{
    font-size: 16px;
    border: 1px solid;
    color: white;
    background-color: #20AD96;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.guid-btn:hover{
    border: 1px solid #20AD96;
    color: #20AD96;
    background-color: white;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}



.hamburger {
    font-size: 30px;
  display: none; 

    cursor: pointer;
} 

nav{
    position: relative;
}


.dropdown{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    right: 30px;
    top: 60px;
    z-index: 2;
    width: 300px;
    height: 300px;
background-color:white;
color: #20AD96;
border-radius: 10px;
overflow: hidden;
    /* background:rgba(255,255,255,0.1) ;
    backdrop-filter:blur(15px) ;
 */
}




.hero {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    background-color: #FAF8F6;
    padding: 30px;

}

.hero-left {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    gap: 50px;
    padding: 50px;
    /* border: 2px solid red;  */

}
.hero-left1{
    display: flex;
    justify-content: center;
    align-items: center;

}


.hero-left2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 10px;
    padding: 0px 0px 0px 80px;
   

}

 #p1 {
    font-size: 20px;
    color: #4A556C80;
}

.hero-left2 h1 {
    font-size: 72px;
    color: #333461;
    font-weight: 900;

 
}

.h6 {
    font-size: 20px;
    font-weight: 400;
    color: #4A556C;
}
.btn {
    padding: 20px 50px;
    color: white;
    background-color: #20AD96;
    border-radius: 10px;
    border: none;
    font-size: 20px;

}

/* .btn:hover {
    background-color: #fff;
    border: 1px double #20AD96;
    color: #20AD96;
    cursor: pointer;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
} */

.hero-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    position: relative;
}

.right-img1 img{
    height: 150PX;
    width: 300PX;
}

.right-img1 {
    top: 10%;
    left: 2%;
        z-index: 3;
    
        position: absolute;
    }
.right-img2 img{
    width: 500px;
height: 620px; 
}

.right-img2 {
    z-index: 1;
    transition: all 0.9s ease-in-out;
}

.right-img2:hover {
    cursor: pointer;
    /* scale: 0.9; */
}

 #image2 {

    top: 20px;
} 

.services {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px 100px;
}

.services-left {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    
}

.services1 {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.services-left h1 {
    font-size: 52px;
    color: #333461;
}

.paragraph {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 80px;
    flex-direction: column;
    font-size: 20px;
    /* border: 2px solid red; */

}

.totalcards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}



.cards {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    align-items: flex-start;
    width: 350px;
    /* height: 350px; */
    /* border: 2px solid rgb(72, 0, 255); */
    /* padding: 30px; */
}

.review {
    width: 100%;
    /* height: 800px; */
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
    background-color: #FAF8F6;
}

.heading {
    display: flex;
    justify-content: flex-start;
    /* height: 200px; */
    /* width: 60%; */
    
    padding: 20px;

}

.heading h1 {
    font-size: 60px;
    color: #333461;
    padding-left: 100px;
}

.review-box {
    width: 100%;
    /* height: 500px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 0px 40px;
    /* border: 1px solid blue; */
}

.boxes {
    font-size: 24px;
    width: 420px;
    height: 380px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 50px;
    /* border: 1px solid blue; */
    gap: 10px;
}

.boxes p {
    font-size: 24px;
}

.blogs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.heading1 {
    width: 600px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading1 h1 {
    font-size: 52px;
    color: #333461;
}

.blogses {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    /* flex-direction: ; */
}

.blog123 {
    width: 360px;
    height: 400px;
    padding: 20px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    gap: 20px;
}

.blog123 h4 {
    font-size: 24px;
}


.blog123 img {
    width: 100%;
}

#button {
    padding: 20px 60px;
    color: white;
    background-color: #20AD96;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

#button:hover {
    background-color: #fff;
    border: 1px double #20AD96;
    color: #20AD96;
    cursor: pointer;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
}

.freeguide {
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;

}

.freeguide-right {
   /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    gap: 20px;

}

.freeguide-right h1 {
    font-size: 52px;
    color: #333461;
}

 #paragraph {
    font-size: 24px;
}
.freeguide-right p{
    font-size: 20px;
}

.freeguide-right button {
    padding: 20px;
    color: white;
    background-color: #20AD96;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

.freeguide-right button:hover {
    background-color: #fff;
    border: 1px double #20AD96;
    color: #20AD96;
    cursor: pointer;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
}

/* .freeguide-left img{
    width: 450px;
    height: 360px;
} */

.freeguide-left {
    /* width: 100%; */
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
span{
    display: block;
}

#circle {

    width: 100px;
    height: 100px;
    background-color: #20AD96;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    position: absolute;
    /* bottom: 0px;
right: -20px; */
    top: -40px;
    left: 390px;
}

/* 
@media(max-width:1400px) {
    .freeguide {
        flex-direction: column;

    }
} */


#motivation {
    width: 100%;
    /* height: 600px; */
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
padding: 20px;
}

.motivation {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    background-color: #FAF8F6;
    gap: 50px;
    /* border: 1px solid blue; */

}

.cta-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 30px;

}

.cta-left h1 {
    font-size: 40px;
    color: #333461;
}

.cta-left p {
    font-size: 20px;
    color: #4A556C80;
}

.cta-right img {

    border-bottom-right-radius: 40px;
}

.cta-left button {
    padding: 10px 120px;
    color: white;
    background-color: #20AD96;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}


.information {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.ileft {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.ileft h1 {
    font-size: 35px;
    color: #333461;
}

.ileft p {
    font-size: 20px;
    color: #4A556C;
}

.iright {
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 10px;
}

.iright input {
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 5px;
    /* color: #4A556C80; */

}


.iright button {
    padding: 10px 50px;
    color: white;
    background-color: #20AD96;
    border-radius: 5px;
    border: none;
    font-size: 20px;

}

.fcontainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:20px  70px;
    gap: 50px;
}

.fbox {
    width: 350px;
    height: 300px;
    /* border: 2px solid red; */
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    color: #4A556C80;
}

.fbox h3 {
    color: #333461;
}

.div {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.div img {
    width: 50px;
    height: 50px;

}

.footer2 {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.f2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 30px; */
}

.f3 {
    display: flex;
    justify-content: center;
    align-items: center;

}





/* media quaryes  */





@media (max-width : 1265px){

    .hero{
        width: 100%;
        height: 100%;
    }
.hero-left{
    width: 100%;
    height: 100%;
    padding: 20px;
}
.hero-left h1{
    font-size: 50px;
}
.hero-left p{
    font-size: 16px;
}

.btn {
    padding: 10px 30px;
    color: white;
    background-color: #20AD96;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}
.hero-right{
    width: 100%;
    height: 100%;
}

    .right-img2{
        width: 450px;
       height: 500px;
}
.right-img1{
    top: -5%;
    left: -1.5%;
   
}


.paragraph {
    padding: 60px 10px;
}

.totalcards{
    gap: 20px;
}

.cards p{
    font-size: 16px;
}
.heading {
    width: 80%;
}

.boxes{
    padding: 20px;
    font-size: 18px;
}
.blogses{
    justify-content: center;
    gap: 10px;
}
/* .blog123{
    width: 280px;
    padding: 0;

}
.blog123 img{
    width: 250px;
} */


/* .freeguide-right{
    width: 100%;
} */
.freeguide-right h1{
    font-size: 40px;
}

.freeguide-right p{
    font-size: 18px;
}
/* .freeguide-left{
    width: 100%;
} */

.cta-left button{
    padding: 10px 20px;
}



}

@media(max-width:1100px){
    .freeguide{
        flex-direction: column;
        gap:50px;
    }
}

@media(max-width : 990px){
    .lbox2{
        display: none;
    }

    .hamburger{
        display:flex;
    }

  .hamburger i{
    font-size: 35px;
    font-weight: 600;
  }

  .hero{
    flex-direction: column;
  }
  .right-img2 img {
    width: 500px;
    height: 500px;
  }
  .right-img1 img {
    height: 100px;
  width: 250px;
  }

  .right-img1{
    top: 10px;
    left: 10px;
  }

.services{
    flex-direction: column;
    padding: 10px 30px;
}
.services-left h1{
    font-size: 30px;
}

.cards h3{
    font-size: 18px;
}
.cards p{
    font-size: 16px;
}
.heading{
    width: 100%;

}
.heading1{
    height: 200px;
    padding: 20px;
}

.heading1 h1{
    font-size: 40px;
}


.blogses{
    flex-wrap: wrap;
}

/* .blog123 {
    width: 210px;
    height: 250px;
}
.blog123 img{
    width: 100%;
}
.blog123 h4{
    font-size: 14px;
}
.blog123 p{
    font-size: 10px;
} */



/* .freeguide {
    flex-direction: column;
    height: 900px;
} */



.freeguide-left{
    /* background-color: #20AD96; */
    /* height: 700px; */
    /* padding-left: 100px; */
}

#circle {
    left: 392px;
}
/* .cta-right img {
    height: 200px;
} */


.motivation{
    flex-direction: column;
   
    padding: 20px 0;
}

.information {
    width: 100%;
    height: 350px;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
}


}


@media(max-width: 450px){
    .logo{
        padding: 0;
    }
    .lbox1 img {
        width: 50px;
        height: 50px;
    }
    .lbox1 h1{
        font-size: 20px;
    }


    #p1 {
        font-size: 12px;
    }
    

.hero-left {
    gap: 5px;
}
.hero-left1 img{
    width: 50px;
}
.hero-right img{

}

    .hero-left h1{
        font-size: 25px;
    }
    .hero-left2{
        padding: 0px 10px;
    }
    #image2{
        padding-top: 100px;
    }
    .hero-right {
        height: 400px;
        padding: 20px;
    }

    .h6{
        font-size: 14px;
    }

    .btn {
        padding: 5px 8px;
        font-size: 8px;
    }

    .right-img2 img{
        width: 200px;
        height: 320px;
    }

    .right-img1 img{
        width: 120px;
        height: 60px;
    }
    .services img{
        width: 50px;
    }
    .services{
        flex-direction: column;
    }
    .services1{
        width: 100%;
    }
    .paragraph{
        width: 100%;
        padding: 20px 10px;
    }
    .services-left {
        justify-content: center;
        flex-direction: column;
    }

    .totalcards {
        gap: 30px;
        flex-wrap: wrap;
    }

    .cards{
        width: 280px;
        /* height: 430px; */
        padding: 20px 25px;

    }
    .heading{
    width: 300px;
        padding: 20px;
    
    }

    .heading h1 {
        font-size: 35px;
        padding: 0;
    }

    .review-box {
        flex-wrap: wrap;
        gap: 0;
    }
    .heading1{
        width: 280px;
    }
    .heading1 h1{
        font-size:30px ;
    }
    #button {
        padding: 10px 30px;
        font-size: 16px;
    }


    
    .freeguide-right{
        padding: 20px;
    }
    .freeguide-right h1{
        font-size: 30px;
    }
    #paragraph{
        font-size: 18px;
    }
    .freeguide{
gap: 50px;

    }
    .freeguide-right button{
        padding: 10px;
        font-size: 16px;
    }
    .freeguide-left{
        padding-left: 20px;
    }

    .freeguide-left img{
        width: 280px;
        height: 320px;
    }

    #circle {
        width: 60px;
        height: 60px;
        left: 257px;
        top: -24px;
    }

    #circle p{
        font-size: 12px;
    }
   
    .cta-left h1 {
        font-size: 30px;
    }

    .iright input{
        padding: 5px 25px;
        font-size: 10px;

    }
    .iright button{
        padding: 5px 25px;
        font-size: 10px;
    }
    
    .fcontainer{
        padding: 20px;
        flex-wrap: wrap;
        gap: 5px;
    } 
    
    .fbox{
        gap: 5px;
        height: 200px;

    
    }
    .cta-right img{
        width: 260px;
    }

   
    
.footer2 {
    flex-wrap: wrap;
padding: 20px;
gap: 5px;
}

}

@media(max-width:690px){
    
.review-box{
flex-wrap: wrap;

}

.boxes{
    height: 288px;
}



}






